:root {
  background-color: rgb(197, 221, 231);
}

li {
  padding-bottom: 3px;
  color: white;
  text-shadow: 1.5px 1px 3px black;
  list-style-type: none;
}

p {
  color: black;
  text-shadow: 0.5px 0.5px white;
  text-align: center;
  font-size: medium;
  font-family: sans-serif;
}
h3 {
  font-family: sans-serif;
  margin-top: -0.5rem;
}
input {
  text-align: center;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
}

button {
  font-family: sans-serif;
  background-color: #f7c7df;
  border-radius: 15px;
  border: 6px double #ff006a;
  color: #000000;
  text-align: start;
  padding: 30px;
  width: 170px;
  margin-top: 3px;
}

button:hover {
  box-shadow: 6px 4px 8px #f10085;
}

#homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#timer {
  font-family: sans-serif;
  background-color: #e0005e;
  color: #afceb8;
  font-size: x-large;
  text-shadow: 0.5px 0.5px black;
  text-align: top;
}
#quiz {
  display: none;
}

#result {
  display: none;
}

#endGame {
  text-align: center;
  display: none;
  flex-direction: column;
  align-items: center;
}

#highScore {
  height: 1.5rem;
  border: groove 2px;
}

#high-scorePage {
  display: none;
  width: 50%;
  border: solid;
  border-color: silver;
  border-bottom-style: groove;
  padding-bottom: 0.3rem;
  background: lightsteelblue;
}

#highscore-header {
  display: flex;
  justify-content: space-around;
  border-bottom-style: outset;
  padding-top: 2rem;
  margin-bottom: 0.5rem;
  background-color: #e0035f;
  color: #000000;
  font-family: sans-serif;
}
#highscoreContainer {
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#initials {
  float: right;
  margin: 0.5rem;
  height: 1.75rem;
}

#highscore-initials {
  padding-left: 3.5rem;
  font-family: sans-serif;
  font-weight: bold;
}

#highscore-score {
  float: left;
  padding-left: 16.5rem;
  font-family: sans-serif;
  font-weight: bold;
}

#finalScore {
  padding-bottom: 0.5rem;
  font-size: x-large;
  font-family: sans-serif;
  font-weight: bold;
}

#endGameBtns {
  display: none;
}
